{+lint=all,noNS;}
{+warn=noDPI-SFESN;}
{+warn=noUII-L;}
{
    +lint=none;
    +file=/software/Synopsys-2024_x86_64/vcs/W-2024.09/etc/sva/rec_ltl_classes_package.svp;
}
{+warn=noMC-MTCNSC;}
{+lint=all,noNS;
  -tree=uvm_pkg;
  -file=$UVM_HOME/src/base/uvm_globals.svh;
  -file=$UVM_HOME/src/reg/sequences/uvm_reg_mem_shared_access_seq.svh;
  -file=$UVM_HOME/src/reg/sequences/uvm_mem_access_seq.svh;
  -file=$UVM_HOME/src/reg/sequences/uvm_mem_walk_seq.svh;
  -file=$UVM_HOME/src/reg/uvm_reg_sequence.svh;
  -file=$UVM_HOME/src/seq/uvm_sequence_builtin.svh;
}
{+lint=noWMIA-L;
  +tree=uvm_pkg;
}
